In [49]:
import pandas as pd

In [50]:
pd.__version__

'1.5.1'

In [51]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [52]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [53]:
from sqlalchemy import create_engine

In [63]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [55]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [56]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [57]:
df = next(df_iter)

In [58]:
len(df)

100000

In [59]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [64]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [65]:
from time import time

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [75]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-30 12:46:34--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230130T124635Z&X-Amz-Expires=300&X-Amz-Signature=08c6e6dae3910fd01d56535184de24a7abe05bf8e912eb4aa340d45f9a7d3880&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-30 12:46:35--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230130%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230130T124635Z&X-Amz-Expires=300&X-Amz-Signature=08c6e6dae3910fd01d56535184de24a7abe05bf8e912eb4aa340d45f9a7d3880&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-01.csv.gz’

green_tripdata_2019 100%[===================>]  10.58M  1.37MB/s    in 8.4s

2023-01-30 12:46:45 (1.27 MB/s) - ‘green_tripdata_2019-01.csv.gz’ saved [11099245/11099245]

In [76]:
df_green_taxi_trips=pd.read_csv('green_tripdata_2019-01.csv.gz')

In [77]:
df_green_taxi_trips.lpep_pickup_datetime = pd.to_datetime(df_green_taxi_trips.lpep_pickup_datetime)
df_green_taxi_trips.lpep_dropoff_datetime = pd.to_datetime(df_green_taxi_trips.lpep_dropoff_datetime)

In [78]:
# DDL Data Definition Language
print(pd.io.sql.get_schema(df_green_taxi_trips, name='green_taxi_trips'))

CREATE TABLE "green_taxi_trips" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [79]:
df_green_taxi_trips.to_sql(name="green_taxi_trips", con=engine, if_exists="append")

918

In [66]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-30 11:29:06--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.42.208, 52.217.101.246, 52.216.21.37, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.42.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-01-30 11:29:07 (57.3 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [67]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [68]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [71]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [80]:
query = """
SELECT COUNT(*)
FROM green_taxi_trips;
"""
pd.read_sql(query, con=engine)

    count
0  630918

In [84]:
df_green_taxi_trips.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [89]:
# Question 3. Count records
# How many taxi trips were totally made on January 15?

# Tip: started and finished on 2019-01-15.

# Remember that lpep_pickup_datetime and lpep_dropoff_datetime columns are in the format timestamp (date and hour+min+sec) and not in date.

# 20689
# 20530
# 17630
# 21090
df_green_taxi_trips[(df_green_taxi_trips["lpep_pickup_datetime"]>="2019-01-15 00:00:00")&(df_green_taxi_trips["lpep_dropoff_datetime"]<"2019-01-16 00:00:00")].shape[0]

20530

In [90]:
# Question 4. Largest trip for each day
# Which was the day with the largest trip distance Use the pick up time for your calculations.

# 2019-01-18
# 2019-01-28
# 2019-01-15
# 2019-01-10
df_green_taxi_trips[df_green_taxi_trips['trip_distance'] == df_green_taxi_trips['trip_distance'].max()].lpep_pickup_datetime

297377   2019-01-15 19:27:58
Name: lpep_pickup_datetime, dtype: datetime64[ns]

In [92]:
df_green_taxi_trips[(df_green_taxi_trips['lpep_pickup_datetime'] >= '2019-01-01 00:00:00') & \
    (df_green_taxi_trips['lpep_pickup_datetime'] < '2019-01-02 00:00:00')]['passenger_count'].value_counts()

1    12415
2     1282
5      616
6      273
3      254
4      129
0       21
Name: passenger_count, dtype: int64